/* Menu style */

.sidebar{
    background: #ccc;
    padding: 20px;
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;

}
.sidebar:hover{
    opacity: 1
}



#filter{
    padding: 5px;
    border-radius: 5px;
    border: 0
}

.sidebar span{
    color: #00052f;
    
}
.sidebar ul{
    padding: 0;
}

.sidebar li {
    list-style: decimal;
    border-bottom: 1px solid #DDD;
    padding: 10px 0;
    cursor: pointer;
}


.sidebar li:hover {
    color: #fff
}


.sidebar i{
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 28px;
    cursor: pointer;
}

.close{
    width: 26px;
    height: 0;
    background: #fff;
    left: 106px;
}

.close:before{
    content: "display list";
    display: none;
}
.removeContent{
    display: none;
}


/* map */
#map{
    height: 100vh;
    width: 100%;
}



/* media */


@media screen and (max-width: 600px) {
    .sidebar{
        width: 100%
    }
    .close {
    width: 26px;
    height: 0;
    width: 69px;
    background: #fff;
    left: 104px;
    }
    .sidebar i {
     right: 0; 
    }
}

